:root {
    /*========== Colors ==========*/
    --clr-placeholder: #919eab;
    --clr-primary: #0162c4;
    --clr-white: #fff;
    --clr-text: #080707;
    --clr-badge: #919eabcc; 
    --clr-error: #ff4842;
    --clr-success: #1fae51;
    --clr-divider: #dae0e7;
    --clr-icons: #637381;

    /*========== Shadows ==========*/
    --btn-shadow-primary: 0 8px 16px 0 #919eab29;


    /*==========Typography ==========*/
    --large-font-size: 1.875rem;
    --biggest-font-size: 1.5rem;
    --bigger-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tint-font-size: 0.65rem; 
    

    /*========== Font weight ==========*/
    --font-light: 400;
    --font-normal: 500;
    --font-medium: 600;
    --font-semibold: 700; 
    
}

