.spinner {
  font-size: 24px;
}

@-webkit-keyframes s7 {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes s7 {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.circle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  -webkit-animation-name: ripple;
  animation-name: ripple;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
